<header class="d-flex align-items-center p-3 border-bottom">
  <img src="images.png" alt="logo" class="img-fluid ms-5" style="max-width: 80px;">

  <h1 class="display-4 text-primary fw-semibold m-0 ms-3">
    Smart Event
  </h1>

  <nav class="ms-auto">
    <ul class="nav justify-content-end me-5">
      <li class="nav-item">
        <a class="nav-link active text-dark fw-semibold" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark fw-semibold" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark fw-semibold" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark fw-semibold" href="#">Contact</a>
      </li>
    </ul>
  </nav>
</header>




