<section class="h-100 gradient-form" style="background: linear-gradient(135deg, #435663, #D6DEC4);">
  <div class="container py-5 h-100" id="container-dive" [class.shake]="isShaking">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="logoEvent-removebg-preview.png" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Welcome to Smart Event</h4>
                </div>

                <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                  <p>Please login to your account</p>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="form2Example11" class="form-control"
                      placeholder="Phone number or email address" [(ngModel)]="email" required name="email" />
                    <label class="form-label" for="form2Example11">Username</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control" [(ngModel)]="password" required
                      name="password" />
                    <label class="form-label" for="form2Example22">Password</label>
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">

                    <!-- Login button -->
                    <button data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-primary w-100 gradient-custom-2 mb-2" type="button" (click)="onCheckUser()"
                      [disabled]="!loginForm.valid" style="padding: 10px 0; font-size: 18px; color: black; font-weight: bold;">
                      Log in
                    </button>

                    <!-- Forgot password under the button -->
                    <div>
                      <a class="text-muted small d-block mt-1" href="#!">Forgot password?</a>
                    </div>

                  </div>


                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-outline-danger">Create new</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4" style="color: black;font-weight: bold;">Your Intelligent Conference Management Platform</h4>
                <p class="small mb-0" style="color: black;">Smart Event is a smart conference management platform designed to simplify event organization from start to finish. Whether you're planning a professional conference, workshop, or corporate meeting, Smart Event provides all the tools you need in one place — from participant registration,
                   session scheduling, speaker management, and real-time attendance tracking.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>